.ui.secondary.stackable.large.menu(style="margin-bottom:0")
    .ui.huge.header
        a.ui.huge.image(href="http://qut.edu.au/" target="_blank")
            img(src="/img/qut-logo.jpg")
        .content
            a.button(href="/") TRNDiff Regulon Explorer
            .sub.header Queensland University of Technology
    .right.menu
        a.item(href="/regprecise/genomes") REGPRECISE
        a.item.disabled UPLOAD