extends layout

block scripts
    script(src="./js/index.js")

block content
    .ui.huge.header TRNetwork

    #selected-data(style="display:none")
        .ui.header Selected Data
        table.ui.table
            thead
                tr
                    th Source
                    th Type
                    th Name
            tbody

    #select-data
        .ui.header Select Regulator Source
        .ui.tabular.menu
            a.item(data-tab="regprecise")
                i.small.loading.circle.notch.icon
                i.small.circle.icon(style="display: none")
                | RegPrecise
            a.item(data-tab="regulondb") RegulonDB
            a.item.disabled Upload
        .ui.tab(data-tab="regprecise")
            .ui.two.basic.buttons
                button.ui.button.btn-src(data-source="rp-genomes") Genomes
                button.ui.button.disabled.btn-src(data-source="rp-regulons") Regulons
        .ui.tab(data-tab="regulondb")
            button.ui.basic.fluid.button.btn-src(data-source="rdb-genomes") Genomes
        .ui.tab(data-tab="upload")

        table.ui.single.line.compact.sortable.selectable.table
        
        //- button.ui.positive.button.right.floated#btn-add-data Add