extends layout

block scripts
    script(src="./js/index.js")

block content
    .ui.huge.header TRNetwork

    #selected-data(style="display:none")
        .ui.header Selected Data
        table.ui.table
            thead
                tr
                    th Source
                    th Type
                    th Name
            tbody

    #select-data
        .ui.header Select Regulator Source
        .ui.tabular.menu
            a.item(data-tab="regprecise")
                i.small.loading.circle.notch.icon
                i.small.circle.icon(style="display: none")
                | RegPrecise
            a.item(data-tab="regulondb") RegulonDB
            a.item.disabled Upload
        .ui.tab(data-tab="regprecise")
            .ui.pointing.secondary.menu
                a.item(data-tab="rp-genomes" data-source="rp-genomes") Genomes
                a.item(data-tab="rp-regulogs" data-source="rp-regulogs") Regulogs
            .ui.tab(data-tab="rp-genomes")
                .ui.breadcrumb
                    .section Genome
                    i.right.angle.icon.divider
                    .section Regulon
                    i.right.angle.icon.divider
                    .section Graph Regulog
            .ui.tab(data-tab="rp-regulogs")
                .ui.breadcrumb
                    .section Collection Type
                    i.right.angle.icon.divider
                    .section Collection
                    i.right.angle.icon.divider
                    .section Regulog
                    i.right.angle.icon.divider
                    .section Graph Regulog
        .ui.tab(data-tab="regulondb")
            .ui.pointing.secondary.menu
                a.item(data-tab="rdb-genomes" data-source="rdb-genomes") Genomes
        .ui.tab(data-tab="upload")

        table.ui.single.line.compact.sortable.selectable.table