extends layout

block scripts
    script(src="https://d3js.org/d3.v5.min.js")

    script(src="./js/index.js")
    script(src="./js/wagon-wheels.js")

    link(rel="stylesheet" href="./css/index.css")

block content
    .ui.huge.header
        a.ui.huge.image(href="http://qut.edu.au/" target="_blank")
            img(src="./img/qut-logo.jpg")
        .content TRNDiff Regulon Explorer
            .sub.header Hello World

    #selected-data(style="display:none")
        .ui.header Selected Data
        table.ui.table
            thead
                tr
                    th Source
                    th Type
                    th Name
            tbody

    #select-data
        .ui.tabular.menu
            a.item(data-tab="regprecise")
                i.small.loading.circle.notch.icon
                i.small.circle.icon(style="display: none")
                | RegPrecise
            a.item(data-tab="regulondb") RegulonDB
            a.item.disabled Upload
        .ui.tab(data-tab="regprecise")
            .ui.pointing.secondary.menu
                a.item(data-tab="rp-genomes" data-source="rp-genomes") Genomes
                a.item(data-tab="rp-regulogs" data-source="rp-regulogs") Regulogs
            .ui.tab(data-tab="rp-genomes")
                .ui.breadcrumb
                    .section Genome
                    i.right.angle.icon.divider
                    .section Regulon
                    i.right.angle.icon.divider
                    .section Graph Regulog
            .ui.tab(data-tab="rp-regulogs")
                .ui.breadcrumb
                    .section Collection Type
                    i.right.angle.icon.divider
                    .section Collection
                    i.right.angle.icon.divider
                    .section Regulog
                    i.right.angle.icon.divider
                    .section Graph Regulog
        .ui.tab(data-tab="regulondb")
            .ui.pointing.secondary.menu
                a.item(data-tab="rdb-genomes" data-source="rdb-genomes") Genomes
        .ui.tab(data-tab="upload")

        table.ui.single.line.compact.sortable.selectable.table(style="display:none")

    #graph(style="display:none")
        #header
            .ui.large.basic.right.floated.icon.buttons
                .ui.button#btn-zoom-out
                    i.zoom-out.icon
                .ui.button#btn-zoom-in
                    i.zoom-in.icon
        #body(style="clear:both")