doctype html
html
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")

        //- jQuery
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")

        //- Semantic UI
        script(src="https://cdn.jsdelivr.net/npm/semantic-ui@2.3.3/dist/semantic.min.js")
        link(link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.3.3/dist/semantic.min.css")

        //- jQuery-Tablesort
        script(src="./js/tablesort.js")

        script(src="./js/common.js")
        block scripts

        title TRNDiff Regulon Explorer
    body
        block content

        .ui.inverted.dimmer
            .ui.text.loader Loading