doctype html
html
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")

        //- jQuery
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")

        //- Semantic UI
        script(src="https://cdn.jsdelivr.net/npm/semantic-ui@2.3.3/dist/semantic.min.js")
        link(link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.3.3/dist/semantic.min.css")

        //- Cytoscape
        script(src="https://cdnjs.cloudflare.com/ajax/libs/cytoscape/3.2.15/cytoscape.min.js"
            integrity="sha256-b9wlgCuPq6z3+65GJ10hoDzytutjPCYzMu6kMN4a+Bw="
            crossorigin="anonymous")
        script(src="./js/cola.min.js")
        script(src="./js/cytoscape-cola.js")
        script(src="./js/tablesort.js")

        script(src="./js/common.js")
        block scripts

        title Capstone Proto
    body
        .ui.container.dimmable
            .ui.inverted.dimmer
                .ui.text.loader Loading

            block content