script(src="./js/new-tab.js")

.ui.container.dimmable
    .selected-data(style="display:none")
        .ui.header Selected Data

    .select-data
        .ui.header Select Data Source
        .ui.button.btn-src(data-source="rpGenomes") Regprecise Genomes
        .ui.button.disabled.btn-src(data-source="rpRegulons") Regprecise Regulons
        .ui.button.btn-src(data-source="regulondb") RegulonDB
        .ui.button.disabled.btn-src(data-source="upload") Upload
    .ui.inverted.dimmer
        .ui.text.loader Loading