.ui.container.dimmable
    .ui.inverted.dimmer
        .ui.text.loader Loading

    .selected-data(style="display:none")
        .ui.header Selected Data

    .select-data
        .ui.header Select Data Source
        .ui.tabular.menu
            a.item(data-tab="regprecise")
                i.small.loading.circle.notch.icon
                i.small.circle.icon(style="display: none")
                | RegPrecise
            a.item(data-tab="regulondb") RegulonDB
            a.item.disabled Upload
        .ui.tab(data-tab="regprecise")
            .ui.two.basic.buttons
                .ui.button.btn-src(data-source="rp-genomes") Genomes
                .ui.button.disabled.btn-src(data-source="rp-regulons") Regulons
        .ui.tab(data-tab="regulondb")
            .ui.fluid.basic.button.btn-src(data-source="rdb-genomes") Genomes
        .ui.tab(data-tab="upload")

        table.ui.celled.table

script.
    initTab("#{tabIndex}")