extends layout

block scripts
    script.
        regulonNetworks = !{JSON.stringify(network)}.regulons;
    script(src="/js/wagon-wheels.js")
    script(src="/js/graph-header.js")
    link(rel="stylesheet" href="/css/wagon-wheels.css")

block content
    .ui.three.steps
        a.step.completed(href="/regprecise/genomes")
            .content
                .title= network["selected-genome"].name
                .description Selected Genome
        a.step.completed(href=`/regprecise/regulons?genomeId=${network.regulons.find(r => r.regulonId == network["selected-regulon"]).genomeId}`)
            .content
                - var selectedRegulon = network.regulons.find(r => r.regulonId == network["selected-regulon"])
                .title= selectedRegulon.regulatorFamily + ' / ' + selectedRegulon.regulatorName
                .description Selected Regulon
        a.step.active
            .content
                .title Regulog Graph
                .description Network of selected Regulon

    #graph
        #header
            .ui.stackable.secondary.menu
                .ui.item Sort Regulons By:
                .ui.item.dropdown#sort-regulons-by
                    .text Distance
                    i.dropdown.icon
                    .menu
                        .item(data-value="distance").active.selected Distance
                        .item(data-value="gene-count") Gene Count
                        .item(data-value="genome-name") Genome Name
                .ui.item Sort Genes By:
                .ui.item.dropdown#sort-genes-by
                    .text Name
                    i.dropdown.icon
                    .menu
                        .item(data-value="distance").active.selected Name

                .right.item
                    .ui.large.basic.right.floated.icon.buttons
                        btn.ui.button#btn-zoom-out
                            i.zoom-out.icon
                        btn.ui.button#btn-zoom-in
                            i.zoom-in.icon
        #body.ui.cards(style="clear:both")