#div-sidebar-body {
    overflow-y: auto;
}

#div-sidebar-body .card {
    margin-bottom: 3px;
    white-space: nowrap;
}

#div-sidebar-body .card :hover {
    /* background-color: rgba(1,1,1,0.1); */
    cursor: pointer;
}

#div-sidebar-body .card-title {
    overflow: hidden;
    text-overflow: ellipsis;
}

#div-sidebar-body .regulator-desc {
    white-space: normal;
}