.card.w-100.genome-card
    .card-body.py-1.px-2
        .card-title.mb-0.font-weight-bold(title=name)
            | #{name}
        //- .small.text-muted
        //-     .float-left ID: #{id}
        //-     .float-right TaxID: #{tid}